---
- name: download desktop into backgrounds folder
  get_url:
    url: https://raw.githubusercontent.com/drBenway/ansible-wallpaper/master/wallpaper.png
    dest:  ~/Pictures/Nord/wallpaper.png
    mode: '0440'
- name: set the background
  command: gsettings set org.cinnamon.desktop.background picture-uri 'file:///~Pictures/Nord/wallpaper.png'
